<md-content class="md-padding">
	
    
      <md-autocomplete
          ng-disabled="ns.isDisabled"
          md-no-cache="ns.noCache"
          md-search-text="ns.searchText"
          md-search-text-change=""
          md-selected-item=""
          md-selected-item-change="ns.selectedItemChange(item)"
          md-items="item in ns.querySearch(ns.searchText)"
          md-item-text="item.name"
          md-min-length="3"
          placeholder="What is your destination address?">

        <md-item-template>
          <span md-highlight-text="ns.searchText" md-highlight-flags="^i">{{item.name}}</span>
        </md-item-template>

        <md-not-found>
          No matches found for "{{ns.searchText}}".
        </md-not-found>

      </md-autocomplete>

      
      <br/>
      
      <!-- By default, <code>md-autocomplete</code> will cache results when performing a query.  After the initial call is performed, it will use the cached results to eliminate unnecessary server requests or lookup logic. This can be disabled above. -->
    
 
</md-content>